{
  "arrowParens": "always",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "consistent",
  "printWidth": 120,
  "endOfLine": "lf",
  "jsxSingleQuote": false,
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    },
    {
      "files": "*.js",
      "options": {
        "parser": "babel"
      }
    }
  ]
}
